In [47]:
import pandas as pd

data = pd.read_csv("../data/day3_1.txt", header=None, dtype=str, names=["Report"])

In [48]:
for i in range(1,13):
    data[f"bit_{i}"] = data['Report'].str[i-1]
#print(data.head())

for i in range(1,13):
    data[f"bit_{i}"] = pd.to_numeric(data[f"bit_{i}"])
# print(data.head())

In [49]:
print(len(data))
data.head()

1000

,Report,bit_1,bit_2,bit_3,bit_4,bit_5,bit_6,bit_7,bit_8,bit_9,bit_10,bit_11,bit_12
0,101001100010,1,0,1,0,0,1,1,0,0,0,1,0
1,010100001011,0,1,0,1,0,0,0,0,1,0,1,1
2,010010010101,0,1,0,0,1,0,0,1,0,1,0,1
3,110100011010,1,1,0,1,0,0,0,1,1,0,1,0
4,001100100001,0,0,1,1,0,0,1,0,0,0,0,1

In [65]:
oxygen_filter = data
count1 = 1

In [66]:
print(max(data[f"bit_{count1}"].mode().values))
oxygen_filter = oxygen_filter[oxygen_filter[f"bit_{count1}"] == max(data[f"bit_{count1}"].mode().values)]
count1 +=1
print(oxygen_filter)

0
           Report  bit_1  bit_2  bit_3  bit_4  bit_5  bit_6  bit_7  bit_8  \
1    010100001011      0      1      0      1      0      0      0      0
2    010010010101      0      1      0      0      1      0      0      1
4    001100100001      0      0      1      1      0      0      1      0
6    000000101100      0      0      0      0      0      0      1      0
7    001111000011      0      0      1      1      1      1      0      0
..            ...    ...    ...    ...    ...    ...    ...    ...    ...
992  010011000110      0      1      0      0      1      1      0      0
993  001110010110      0      0      1      1      1      0      0      1
994  010010011010      0      1      0      0      1      0      0      1
995  010011100111      0      1      0      0      1      1      1      0
999  010100000111      0      1      0      1      0      0      0      0

     bit_9  bit_10  bit_11  bit_12
1        1       0       1       1
2        0       1       0       1
4        0       0       0       1
6        1       1       0       0
7        0       0       1       1
..     ...     ...     ...     ...
992      0       1       1       0
993      0       1       1       0
994      1       0       1       0
995      0       1       1       1
999      0       1       1       1

[501 rows x 13 columns]

In [51]:
co2_filter = data
count2 = 1

In [60]:
co2_filter = co2_filter[co2_filter[f"bit_{count2}"] != max(data[f"bit_{count2}"].mode().values)]
count2 +=1
print(co2_filter)

           Report  bit_1  bit_2  bit_3  bit_4  bit_5  bit_6  bit_7  bit_8  \
885  111101000110      1      1      1      1      0      1      0      0

     bit_9  bit_10  bit_11  bit_12
885      0       1       1       0